@CHARSET "ISO-8859-1";

body {
	font-family: calibri,arial,sans-serif;
}

h1{
	font-size: 20px;
}

h2{
	font-size: 15px;
}


#top {
	width: 100%;
	height: 10%;
	color: white;
	display: table;
	background-color: black;
}

#titre{
	width: 50%;
	font-size: 50px;
	text-align: center;
	display: table-cell;
}

#loginDiv{
	width: 50%;
	float: left;
	display: table-cell;
}

#loginForm{
	margin: 0 auto;
}

.loginTable{
	display: table;
	border-spacing: 5px;
}

.loginRow{
	display: table-row-group;
}

.loginCell{
	display: table-cell;
	font-size: 10px;
	
}

#main {
	width: 100%;
	height: 100%;
	color: black;
	display: table;
}

#infos{
	width: 40%;
	display: table-cell;
}

#marge{
	width: 10%;
	display: table-cell;
}

#inscription{
	width: 50%;
	display: table-cell;
}

#left_panel{
	width: 20%;
	height: 100%;
	display: table-cell;
	background-color: yellow;
}

#central_panel{
	width: 60%;
	height: 100%;
	display: table-cell;
	background-color: red;
}

#right_panel{
	width: 20%;
	height: 100%;
	display: table-cell;
}

.dashboardType{
	margin: 10px;
	font-size: 25px;
	color: graytext;
	border: 1px solid;
	-moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding: 15px;
}

#bottom {
	background-color: black;
	font-size: 10px;
	color: white;
}


.indexButton {
	font-size : 20px;
	background-color: white;
	border: 0px;
	
}

.loginType {
	font-size : 10px;
	background-color: white;
	padding: 2px;
	border: 1px solid;
}

.subscribeInput{
	margin: 10px;
	font-size: 15px;
	color: graytext;
	border: 1px solid;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}

.subscribeButton{
	font-size: 20px;
	color: white;
	background-color: red;
	border: 1px solid;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}

.mini{
	font-size: 10px;
}

